/* 가이드 리셋 */
* { margin: 0; padding: 0 } 
ol, ul, li { margin: 0; padding: 0; list-style: none } 
a { color: #555; text-decoration: none } 
a:hover { text-decoration: underline } 
body { font-family: "맑은고딕", Malgun Gothic, Doutm, Tahoma, sans-serif; -webkit-text-size-adjust: none; font-size: 12px; color: #333 } 
h1 { padding: 10px; border-bottom: 1px solid #ddd; font-size: 24px } 
h2 { font-size: 20px}
.cont { margin: 10px}
button { border: 0; background: none; height: auto; cursor: pointer}

/* 테이블 기본 스타일 */
table.file_lst { table-layout: fixed; border-collapse: collapse; width: 100%; margin: 10px 0; border-bottom: 1px solid #ccc}
table.file_lst tr.line { border-top: 2px solid #ccc}
table.file_lst tr.js {background: rgb(255, 255, 184);}
table.file_lst tr.css {background: rgb(136, 136, 171)}
table.file_lst tr.html {background: rgb(224, 164, 138)}

/* 완료 처리 */
table.file_lst tr.done { background: rgb(241, 252, 255); } 
table.file_lst tr.done.main { filter: brightness(92%); } 
table.file_lst tr.done.main td:nth-child(2) {font-weight: 700;}
table.file_lst tr.done.popup { background: rgb(212, 228, 212); } 
/* 국가포털용 */
/* 지자체 구분 */
table.file_lst thead th { padding: 7px 5px; background-color: #f0f0f0; border: 1px solid #ccc; border-bottom: double #ccc; white-space: nowrap}
table.file_lst tbody th { padding: 10px; border: 1px solid #ccc; color: #555; text-align: left}
table.file_lst tbody td { padding: 10px; border: 1px solid #ccc; color: #555}
table.file_lst td a { display: block; color: #114fc1}
table.file_lst td span { color: red}
table.file_lst .line { border-top: 2px solid #ccc}
table.file_lst .date { font-family: Tahoma; color: #999}
.ac { text-align: center}
.count-info { position: absolute; right: 20px; top: 15px; } 
/* 상단 컬러 정보 */
.color-info {margin-top: 20px;}
.color-info p {padding: 8px; border-radius: 8px; border: 1px solid black;}
.color-info p + p {margin-left: 10px;}
/* 상단 검색 */
.file_lst_search > fieldset { display: flex; column-gap: 10px; padding: 20px; margin-top: 20px; margin-bottom: 10px; width: 840px; border-radius: 12px; font-size: 13px; font-weight: 700; border: none;}
.file_lst_search select {width: 168px;}
.file_lst_search :where(select, input, button) {border-radius: 8px; height: 44px; padding: 0 8px;}
.file_lst_search button.search-btn {background: #333333; color: #fff; font-weight: 700; width: 120px;}
.file_lst_search button.search-btn:disabled {background: #999; color: #eee;}
.file_lst_search input {flex: 1;}
/* 아이템 정렬 */
.flex-item-right {display: flex; justify-content: end;}
/* 검색 */
.btn-function {border: 1px solid #d8d8d8; border-radius: 12px;}
.btn-function.is-active {background: rgb(139, 182, 221);}
/* tooltip */
.file_tooltip {display: inline-block; position: relative;  width: 20px; height: 20px; background-color: #555; color: #fff; font-weight: 700; text-align: center; vertical-align: middle; border-radius: 50%;}
.file_tooltip_box {display: none; background: #fff; position: absolute; right: 60px; top: 0; width: 400px; border-radius: 12px; border: 1px solid #d8d8d8; text-align: left; padding: 12px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)}
.file_tooltip_box > p { color: #000; font-weight: 500;}
.file_tooltip_box > strong {font-weight: 700;}
.file_tooltip:hover .file_tooltip_box {display: block;}