@charset "utf-8";

/****************************************************
	파일명	: style.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 상세스타일 관련 스타일
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서: 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* vertical table */
.bl-vertical-list {border-top: 2px solid #000; border-bottom: 1px solid #ddd;}
.bl-vertical-list tr {border-top: 1px solid #ddd;}
.bl-vertical-list thead th { padding: 15px;text-align: center; white-space: nowrap; background: #f9f9f9; border-right: 1px solid #ddd;}
.bl-vertical-list thead th:last-child{border-right: 0;}
.bl-vertical-list tbody td {padding: 15px; vertical-align: middle; word-break: break-all;}

/* horizontal table */
.bl-rowTable {border-top: 2px solid #000; border-bottom: 1px solid #ddd;}
.bl-rowTable tr {border-top: 1px solid #ddd;}
.bl-rowTable th {padding: 20px; background: #f9f9f9; line-height: 22px; text-align: left;}
.bl-rowTable td {padding: 20px; line-height: 22px; text-align: left;}

@media only screen and (max-width:768px) {
	.bl-rowTable th, .bl-rowTable td {width: 100%; display: block;}
	.bl-rowTable th {background: transparent;}
	.bl-rowTable, .bl-rowTable thead, .bl-rowTable tbody, .bl-rowTable th, .bl-rowTable td, .bl-rowTable tr {display: block;}
}