/****************************************************
	파일명	: Layout.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 레이아웃 관련 CSS 정의
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서    : 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* body */
body {position: relative;}

/* ly-cont */
.ly-cont { margin: 0 auto;max-width: 128rem;}

.ly-cont-w { margin: 0 auto; border: 1px solid brown;max-width: 128rem; padding-top: 7rem;}
.ly-section {padding-top: 8rem; padding-bottom: 8rem;}
.ly-section-w {margin-top: 8rem;}
.ly-inner { margin: 0 auto;max-width: 128rem;}

/* header */
.ly-header {position: relative; background: var(--white00); z-index: 1000;}
.ly-header > .ly-inner {position: relative;}
.ly-header.is-fixed {position: fixed; top: 0; left: 0; width: 100%;}
/* header util */
.ly-header .header-util > ul > li {position: relative;}
.ly-header .header-util > ul > li:first-child {padding-right: .8rem;}
.ly-header .header-util > ul > li:not(:first-child){padding-left: .8rem; padding-right: .8rem;}
.ly-header .header-util > ul > li:not(:first-child)::before {content: ''; position: absolute; height: 1.6rem; left: 0; top: 50%; transform: translateY(-50%); border-left: 0.1rem solid #ddd;}
/* header global */


