@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular') format('truetype');
  font-weight: light;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
