.main-info {
  .main-info-tit {
    font-size: 40px;
  }

  .count-info {
    padding: 12px;
    border: 1px solid $border;
    border-radius: 12px;
  }

  .main-info-wrap {
    display: flex;
    height: 80px;
    align-items: end;
    column-gap: 20px;
  }
}
