<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>사이드바</h2>
        <ul class="sidebar-list">
            <li class="sidebar-item">
                <a href="#">사이드바 아이템1</a>
            </li>
            <li class="sidebar-item">
                <button type="button">사이드바 subDepth2</button>
                <div class="sidebar-sub">
                    <ul class="sidebar-sub-list">
                        <li>
                            <a href="#" class="sidebar-sub-item"></a>
                        </li>
                        <li class="active">
                            <a href="#" class="sidebar-sub-item"></a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </nav>
</body>
</html>