<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="../reset.css">
</head>
<body>
    <!-- Html -->
    <div class="skip-nav">
        <a href="#">본문 바로가기</a>
        <a href="#container">주 메뉴 바로가기/a>
    </div>
    <div id="wrap">
        <header></header>
        <main id="container">

        </main>
        <footer></footer>
    </div>
    <!-- Js -->
    <script type="text/javascript" src="../good.js"></script>
</body>
</html>