/* reset */
* {padding: 0; margin: 0;}
body {font-size: 1.7rem;}
.inner {margin: 0px auto; width: 1280px;}
a {text-decoration: none; color: #000;}
ul {list-style: none;}

/* size select*/
.size-select {position: relative; width: 200px;}
.size-select > a {display: inline-flex; width:100%; border: 1px solid #ddd;}
.size-select > a::after {content: '+'; margin-left: 16px;}
.size-select .toggle-target {display: none; position: absolute; left: 0; width: 100%; top: 100%; background: #f8f8f8;}
.size-select .toggle-target > li > a {display: block;}
.size-select .toggle-target > li > a.active {background: aliceblue;}
.size-select.is-active .toggle-target {display: block;}